.box {
  width: 100px;
  height: 100px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flavor {
  margin-bottom: 10px;
}

.flavor .el-form-item__label {
  width: auto;
  margin-right: 10px;
}

.flavor .el-form-item__content {
  display: flex;
  align-items: center;
}

.el-button--danger {
  margin-left: 10px;
}
